<nav [dir]="getLanguage() === 'fa' || getLanguage() === 'ar' ? 'rtl':  'ltr'" id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div [dir]="getLanguage() === 'fa' || getLanguage() === 'ar' ? 'rtl':  'ltr'" class="container" [style]=" !isCollapsed ? 'background-color: rgba(10,12,13,0.5);border-radius: 0.35rem;' : ''">

        <a style="font-family: logo-font !important; color: white; margin-inline-end: 3rem !important;" class="navbar-brand" [routerLink]="['/landing']">
<!--            <img style="width: 100px;height: 100px" src="./assets/img/brand/Parsi-logos_transparent.png">-->
            ParsiHotel
        </a>

        <button
                class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div  class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">

            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a style="font-family: logo-font !important; color: black; font-size: 1.7rem" [routerLink]="['/landing']">
                            ParsiHotel
                        </a>
                    </div>
                    <div [dir]="getLanguage() === 'fa' || getLanguage() === 'ar' ? 'ltr':  'rtl'" class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

                <li style="cursor: pointer" class="nav-item dropdown">
                    <div class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <!--                        <i class="ni ni-collection d-lg-none"></i>-->
                        <i style="margin-inline-end: 10px" class="fa fa-globe"></i>
                        <span class="nav-link-inner--text">{{"General.language" | translate}}</span>
                    </div>
                    <div style="display: flex; flex-direction: row">
                        <mat-radio-group  style="margin: 9px" aria-label="Select language">
                            <mat-radio-button (click)="useLanguage('en')" [checked]="getLanguage() === 'en'" style="margin-inline-start: 0.3rem; " value="1">{{"General.english" | translate}}</mat-radio-button>
                            <mat-radio-button (click)="useLanguage('fa')" [checked]="getLanguage() === 'fa'" style="margin-inline-start: 0.3rem; " value="2">{{"General.persian" | translate}}</mat-radio-button>
                            <mat-radio-button (click)="useLanguage('ar')" [checked]="getLanguage() === 'ar'" style="margin-inline-start: 0.3rem; " value="3">{{"General.arabic" | translate}}</mat-radio-button>
                        </mat-radio-group>
                    </div>


                    <div style="text-align: start" class="dropdown-menu">
                        <a style="cursor: pointer" (click)="useLanguage('en')"
                           class="dropdown-item">{{"General.english" | translate}}</a>
                        <a style="cursor: pointer" (click)="useLanguage('fa')"
                           class="dropdown-item">{{"General.persian" | translate}}</a>
                        <a style="cursor: pointer" (click)="useLanguage('ar')"
                           class="dropdown-item">{{"General.arabic" | translate}}</a>
                    </div>
                </li>

                <li *ngIf="!isHome()" style="cursor: pointer" class="nav-item dropdown">
                    <a [routerLink]="['/landing']" class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <i style="margin-inline-end: 10px" class="fa fa-home"></i>
                        <span class="nav-link-inner--text">{{"General.home" | translate}}</span>
                    </a>
                </li>

                <li style="cursor: pointer" class="nav-item dropdown">
                    <a [routerLink]="['/about-us']" class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        <span class="nav-link-inner--text">{{"General.aboutUs" | translate}}</span>
                    </a>
                </li>

<!--                <li style="cursor: pointer" class="nav-item dropdown">-->
<!--                    <a [routerLink]="['/login']" class="nav-link no-caret" data-toggle="dropdown" role="button">-->
<!--                        <i class="ni ni-collection d-lg-none"></i>-->
<!--                        <span class="nav-link-inner&#45;&#45;text">{{"General.contactUs" | translate}}</span>-->
<!--                    </a>-->
<!--                    &lt;!&ndash;                    <div class="dropdown-menu">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <a [routerLink]="['/landing']" class="dropdown-item">Landing</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <a [routerLink]="['/login']" class="dropdown-item">Login</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <a [routerLink]="['/register']" class="dropdown-item">Register</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </li>-->

            </ul>


            <ul style="margin-inline-start: auto;margin-inline-end: 20px" class="navbar-nav align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="tel:+982166969665" target="_blank" data-toggle="tooltip"
                       title="{{'Placeholder.callUs' | translate}}">
                        <i class="fa fa-phone"></i>
                        <span class="nav-link-inner--text d-lg-none">Phone</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://instagram.com/parsi.hotel?igshid=YmMyMTA2M2Y="
                       target="_blank" data-toggle="tooltip" title="{{'Placeholder.followUs' | translate}}">
                        <i class="fa fa-instagram"></i>
                        <span class="nav-link-inner--text d-lg-none">Instagram</span>
                    </a>
                </li>
                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">-->
                <!--            <i class="fa fa-twitter-square"></i>-->
                <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Twitter</span>-->
                <!--          </a>-->
                <!--        </li>-->
                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-navbar" target="_blank" data-toggle="tooltip" title="Star us on Github">-->
                <!--            <i class="fa fa-github"></i>-->
                <!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Github</span>-->
                <!--          </a>-->
                <!--        </li>-->
                <!--        <li class="nav-item d-none d-lg-block ml-lg-4">-->
                <!--          <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-navbar" target="_blank" class="btn btn-neutral btn-icon">-->
                <!--            <span class="btn-inner&#45;&#45;icon">-->
                <!--              <i class="fa fa-cloud-download mr-2"></i>-->
                <!--            </span>-->
                <!--            <span class="nav-link-inner&#45;&#45;text">Download</span>-->
                <!--          </a>-->
                <!--        </li>-->
            </ul>

        </div>

    </div>
</nav>
