/* You can add global styles to this file, and also import other style files */
@font-face {
    src: url('assets/fonts/iransansX/IRANSansX-Regular.ttf');
    font-family: 'primaryFont-Fa';
}

@font-face {
    src: url('assets/fonts/iransansX/IRANSansX-Light.ttf');
    font-family: 'primaryFont-Fa';
    font-weight: 100;
}

@font-face {
    src: url('assets/fonts/iransansX/IRANSansX-Medium.ttf');
    font-family: 'primaryFont-Fa';
    font-weight: 500;
}

@font-face {
    src: url('assets/fonts/iransansX/IRANSansX-Bold.ttf');
    font-family: 'primaryFont-Fa';
    font-weight: 700;
}

@font-face {
    src: url('assets/fonts/iransansX/IRANSansX-ExtraBold.ttf');
    font-family: 'primaryFont-Fa';
    font-weight: 800;
}

@font-face {
    src: url('assets/fonts/AbrilFatface-Regular.ttf');
    font-family: 'logo-font';
}
* {
    font-family: primaryFont-Fa;
}
