<main class="profile-page">
    <section style="background-image: url('assets/img/mainHotel/Cafe1.jpg');background-size: cover"
             class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div [dir]="getLanguage() === 'fa' || getLanguage() === 'ar' ? 'rtl' : 'ltr'"
                     style="text-align: start" class="px-4">
                    <section>
                        <div class="container">
<!--                            <h1>{{"Cafe.cafeName" | translate}}</h1>-->

                            <section>
                                <h1>
                                    <img id="cafe-logo" src="assets/img/mainHotel/CafeLogo.jpg">
                                </h1>
                            </section>

                            <section id="cafe-pictures">
                                <h2>{{"Cafe.cafeMenu" | translate}}</h2>
                            </section>

                            <nav>
                                <ul id="menu-tabs">
                                    <li><a href="#breakfast">{{"Cafe.breakfast" | translate}}</a></li>
                                    <li><a href="#persianFood">{{"Cafe.persianFood" | translate}}</a></li>
                                    <li><a href="#foodOfTheDay">{{"Cafe.foodOfTheDay" | translate}}</a></li>
                                    <li><a href="#snack">{{"Cafe.snack" | translate}}</a></li>
                                    <li><a href="#mainCourse">{{"Cafe.mainCourse" | translate}}</a></li>
                                    <li><a href="#vegetarianFood">{{"Cafe.vegetarianFood" | translate}}</a></li>
                                    <li><a href="#salad">{{"Cafe.salad" | translate}}</a></li>
                                    <li><a href="#tea">{{"Cafe.tea" | translate}}</a></li>
                                    <li><a href="#coffee">{{"Cafe.coffee" | translate}}</a></li>
                                    <li><a href="#coldDrinks">{{"Cafe.coldDrinks" | translate}}</a></li>
                                    <li><a href="#Smoothies">{{"Cafe.Smoothies" | translate}}</a></li>
                                    <li><a href="#milkShakes">{{"Cafe.milkShakes" | translate}}</a></li>
                                    <li><a href="#sharbat">{{"Cafe.sharbat" | translate}}</a></li>
                                    <li><a href="#cakes">{{"Cafe.cakes" | translate}}</a></li>
                                </ul>
                            </nav>

                            <section id="breakfast">
                                <h2>{{"Cafe.breakfast" | translate}}</h2>
                                <ul *ngFor="let food of breakfast">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="persianFood">
                                <h2>{{"Cafe.persianFood" | translate}}</h2>
                                <ul *ngFor="let food of persianFood">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                    <!--                                    <li class="d-flex justify-content-between">French Toast<span>$6.99</span></li>-->
                                    <!--                                    <li class="d-flex justify-content-between">Pancakes<span>$6.99</span></li>-->
                                    <!--                                    <li class="d-flex justify-content-between">Breakfast Sandwich<span>$4.99</span></li>-->
                                </ul>
                            </section>

                            <section id="foodOfTheDay">
                                <h2>{{"Cafe.foodOfTheDay" | translate}}</h2>
                                <ul *ngFor="let food of foodOfTheDay">
                                    <li class="d-flex justify-content-between">
                                        <span style="width: 90px;">{{food.name}}</span>
                                        <span style="width: 150px;text-align: center">{{food.day}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="snack">
                                <h2>{{"Cafe.snack" | translate}}</h2>
                                <ul *ngFor="let food of snacks">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="mainCourse">
                                <h2>{{"Cafe.mainCourse" | translate}}</h2>
                                <ul *ngFor="let food of mainCourse">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="vegetarianFood">
                                <h2>{{"Cafe.vegetarianFood" | translate}}</h2>
                                <ul *ngFor="let food of vegetarianFood">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="salad">
                                <h2>{{"Cafe.salad" | translate}}</h2>
                                <ul *ngFor="let food of salads">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="tea">
                                <h2>{{"Cafe.tea" | translate}}</h2>
                                <ul *ngFor="let food of tea">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="coffee">
                                <h2>{{"Cafe.coffee" | translate}}</h2>
                                <ul *ngFor="let food of coffee">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="coldDrinks">
                                <h2>{{"Cafe.coldDrinks" | translate}}</h2>
                                <ul *ngFor="let food of coldDrinks">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="Smoothies">
                                <h2>{{"Cafe.Smoothies" | translate}}</h2>
                                <ul *ngFor="let food of smoothies">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="milkShakes">
                                <h2>{{"Cafe.milkShakes" | translate}}</h2>
                                <ul *ngFor="let food of milkShakes">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="sharbat">
                                <h2>{{"Cafe.sharbat" | translate}}</h2>
                                <ul *ngFor="let food of sharbats">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                            <section id="cakes">
                                <h2>{{"Cafe.cakes" | translate}}</h2>
                                <ul *ngFor="let food of cakes">
                                    <li class="d-flex justify-content-between">
                                        <span>{{food.name}}</span>
                                        <span>{{food.price}}</span>
                                    </li>
                                </ul>
                            </section>

                        </div>

                    </section>

                </div>
            </div>
        </div>
    </section>
</main>
